.create_posts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.create_posts p:first-child {
  align-self: center;
  font-weight: bold;
}

.create_posts form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create_posts form label {
  font-size: smaller;
  font-weight: 600;
}

.create_posts form input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
  outline: none;
  margin-top: 0.2rem;
}

.create_posts form #id_pet_description,
#id_pet_address {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
  outline: none;
  resize: vertical;
  font-size: smaller;
}

.create_posts .create_posts_button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  background-color: rgb(223, 62, 62);
}

.create_posts .create_posts_button:hover {
  cursor: pointer;
}

@media (min-width: 640px) {
  .create_posts {
    width: 25rem;
    padding-inline: 3rem;
    margin: 1rem auto;
    background-color: whitesmoke;
  }
}
