.search_bar {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.search_bar input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
}

.search_bar input:focus {
  outline: none;
}

.search_bar button {
  position: absolute;
  z-index: 8;
  right: 0.8rem;
  top: 0.4rem;
  border: none;
  background-color: transparent;
}
